# ==============================================================================
# Plantilla de Configuración de Entorno (Copiar a .env)
# cp .env.example .env
# ==============================================================================

# Servidor de Aplicación
PORT=4000
UBA_DOMAIN=localhost:4000

# Base de Datos Relacional (PostgreSQL)
POSTGRES_DB=titulos_uba
POSTGRES_USER=uba_admin
POSTGRES_PASSWORD=cambiar_por_clave_segura_en_produccion
POSTGRES_PORT=5432
DATABASE_URL=postgresql://uba_admin:cambiar_por_clave_segura_en_produccion@127.0.0.1:5432/titulos_uba

# Red Blockchain Hyperledger Besu (QBFT)
BESU_RPC_URL=http://127.0.0.1:8545
BESU_NODE_KEY=0x99377a0d84e8b8f87011bcd704b80f2387609e0ebdc36080c7434991139d2265

# Cuenta de Emisión / Despliegue de Contrato
ISSUER_PRIVATE_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63
